.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;

  overflow: auto;
}



.post {
  min-width: 600px;
  min-height: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-bottom: 20px;
}


.postMulti {
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgba(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.postMulti textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
}

.sec1 {
  box-sizing: border-box;
  background: blue;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.sec1:hover {
  overflow-y: scroll;
}

.sec1:hover~.sec1::-webkit-scrollbar-track {
  background: blue;
}

.sec1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.sec1::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.sec1::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.sec2 {
  background: green;
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%)
}



