.main_container {
    height: 100%;
    display: grid;
    grid-template-columns: 70px auto;
}

.navbar {
    grid-column: 1;
    background: rgb(50,50,50);
}

.content {
    position: relative;
    grid-column: 2;
}

.topNavbar {
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: rgb(35,35,35);
    display: flex;
    flex-direction: row;

}